---
permalink: "/fitness/"
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
  <section id="fitness" class="links bg-primary">
   <a href="/">
    <span class="fa-stack fa-4x">
      <i style="color:white" class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-home fa-stack-1x text-primary"></i>
    </span>
   </a>
   <a href="/fitness/">
    <span class="fa-stack fa-4x">
      <i style="color:black" class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-anchor fa-stack-1x text-primary"></i>
    </span>
  </a>
    <a href="/gaming/">
      <span class="fa-stack fa-4x">
        <i style="color:white" href="/gaming/" class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-gamepad fa-stack-1x text-primary"></i>
      </span>
    </a>
    <a href="/travel/">
      <span class="fa-stack fa-4x">
        <i style="color:white" href="/travel/" class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-beer fa-stack-1x text-primary"></i>
      </span>
    </a>
    <div class="container">
      <div class="row text-left">
        <h1>Follow my fitness journey!</h1>
        <h2>There's so many goals I want to accomplish! There's no deadset timeline but there is an order.</h2>
        <ul>
          <li>I want to cut my weight down to the ~160 lb area.</li>
          <li>Would love to get my cardio fitness up, become a capable baseball (favorite sport!) athlete.</li>
          <li>I want to be in the 1000 lb club (squat + bench + deadlift combined).</li>
        </ul>
        <h2>My current focus is to regain my strength! I injured my lower back and as a result all my lifts went down. I also moved to Seattle and during the process I haven't been able to go to the gym as often.</h2>
      </div>
    </div>
  </section>
    <h1>Current Program 5/3/1 BBB:</h1>
    <iframe width=75% height=75% src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQLN6z8taQtXTY32_g1gczykOggj-EWNNWPtIc_ScuqZzWMf6P5_u1gO2Fn0ixkxsOJ5GjY5c0imW8Z/pubhtml?gid=459423069&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
  </body>

  {% include footer.html %}

</html>
