---
permalink: "/gaming/"
---
<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
  <body>
  <section id="gaming" class="links bg-primary">
   <a href="/">
    <span class="fa-stack fa-4x">
      <i style="color:white" class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-home fa-stack-1x text-primary"></i>
    </span>
   </a>
   <a href="/fitness/">
    <span class="fa-stack fa-4x">
      <i style="color: white" class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-anchor fa-stack-1x text-primary"></i>
    </span>
  </a>
    <a href="/gaming/">
      <span class="fa-stack fa-4x">
        <i style="color:black" href="/gaming/" class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-gamepad fa-stack-1x text-primary"></i>
      </span>
    </a>
    <a href="/travel/">
      <span class="fa-stack fa-4x">
        <i style="color:white" href="/travel/" class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-beer fa-stack-1x text-primary"></i>
      </span>
    </a>
  <div class="container">
    <div class="row text-left">
      <h1>Gaming gives me a competitive outlet!</h1>
    </div>
  </div>
  </section>
  <section id="tourList">
    <div class="container">
      <div class="row text-left">
          <h2>Here are some of my favorite runs that I've made in SSBM tournaments (hopefully I'll get some videos one day too!):</h2>
          <a href="https://challonge.com/HNIC1M/standings">Tied for 5th in Hitting[9] In Combos 1</a>
          <br>
          <a href="https://sju.challonge.com/w0i4a0ly/standings">5th at a St. John's Tournament, first time competing in a year.</a>
          <br>
          <a href="https://challonge.com/buss2teams/standings">2nd in one of my first double's competitions with Binghamton University</a>
          <br>
          <a href="https://challonge.com/TWACC1M/standings">7th at Teching Walls and Crouch Cancelling 1, having some close games with higher seeded players.</a>
    </div>
  </div>
  </section>
  {% include footer.html %}
  </body>

</html>