---
permalink: "/gaming/"
---
<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
  <body>
  <section id="gaming" class="links bg-primary">
   <a href="/">
    <span class="fa-stack fa-4x">
      <i style="color:white" class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-home fa-stack-1x text-primary"></i>
    </span>
   </a>
   <a href="/fitness/">
    <span class="fa-stack fa-4x">
      <i style="color: white" class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-anchor fa-stack-1x text-primary"></i>
    </span>
  </a>
    <a href="/gaming/">
      <span class="fa-stack fa-4x">
        <i style="color:black" href="/gaming/" class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-gamepad fa-stack-1x text-primary"></i>
      </span>
    </a>
    <a href="/travel/">
      <span class="fa-stack fa-4x">
        <i style="color:white" href="/travel/" class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-beer fa-stack-1x text-primary"></i>
      </span>
    </a>
  </section>
  {% include footer.html %}
  </body>

</html>